@inherits LayoutComponentBase

<div class="main ">
    <div class="top-row px-2">
        <h1 class="gradient-text ml-4">Lucky Draw Page</h1>
    </div>
    <div class="content px-4" style="overflow: scroll;">
        @Body
    </div>
</div>